<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap.css">
		<link rel="stylesheet" href="/static/cards.css">
		<meta name="veiwport" content="width=device-width, initial-scale=1">
		<title>Posts</title>
		<script src="/static/jquery-3.5.1.js"></script>
		<script>

    	</script>
    </head>

	<body>
        <div class="container">

			<div id="main_title">
    		<h1 class="title">Posts</h1>
			</div>

            <form action="/Tweet" method="post">

            <input name="Content" type="text">
            <input type="submit" value="Post">

            </form>

            <h3>New Posts</h3>
            {% for tweet in tweets %}
            <div class="alert alert-success" role="alert">
  		        <h5>Posted from {{ tweet[3] }}:</h5>

			<div id="panel">
		        <p>{{ tweet[1] }}</p>
                <p class="note"> Likes: {{ tweet[4] }}</p>
		    </div>


            <a class="btn btn-primary" href="/like?id={{ tweet[0] }}">Like ({{ tweet[4] }})</a>
            </div>
            {% endfor %}
            <br>
            <br>
    		<h3>Most Popular Posts</h3>

        <br>
        <br>
        <br>

            <a href="/" class="return">Return to the Home Page</a>
	    </div>
	</body>
</html>